.styledLinkContent {
	color: #d5dbdb;
}

/* Footer */
.footerLayout--container {
	background: #253241;
}
.menuContainer--footer {
	flex-direction: column;
}
.menuContainerNav--footer {
	max-width: 230px;
}

.styledLinkContainer--footer {
	padding: 0.1rem;
	margin: 0.1rem;
}

.styledLinkContent--footer:hover {
	color: #ec7211;
}

.styledLink--footer {
	font-size: 0.875rem;
}
