.flexCol {
	padding-right: 2vw;
}
.flexRowContent--main-header-mobile {
	background: #253241;
}

/* Product Page */
.flexRowContent--product-page {
	min-height: 500px;
}

.flexCol--product-header {
	padding: 4%;
}

@media (min-width: 564px) {
	.flexCol--product-header {
		padding: 5% 10%;
	}
}

.flexColChild--product-header :global(.vtex-button) {
	width: 300px;
	background: #ec7211;
	border: 1px solid;
	border-radius: 3px;
	border-color: #e76d0c #e15500 #e15500;
	background-image: linear-gradient(180deg, #f67c1b 0, #e15500);
	box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 20%);
	min-height: 2vh;
}

.flexCol--product-details {
	padding: 0;
	min-height: 100%;
}

/* Footer */
.flexRowContent--content-footer {
	max-width: 1200px;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flexCol--social-network {
	max-width: 517px;
	padding: 25px 0 0 0;
}

.flexColChild--social-network {
	padding-bottom: 5px;
}

.flexColChild--social-network :global(.vtex-login-2-x-container) {
	width: 100%;
	margin-bottom: 20px;
}

/* flex soluiton */

.flexCol--solucoes {
	margin: 5px 30px
}

:global(.vtex-flex-layout-0-x-stretchChildrenWidth){
	padding-bottom: 50px;
}