.pr0.flex {
	align-items: center;
}

/* Slider */
.imageElementLink--carouselImage {
	width: 100%;
	display: block;
}

.imageElement--carouselImage {
	width: 100%;
	object-fit: cover;
}

/* Footer */
:global(.vtex-store-footer-2-x-footerLayout--container) {
	background: #242f3e;
}

/* Solutions info cards */
.infoCardTextContainer{
	width: 100%;
}

@media screen and (min-width: 40em){

	.infoCardTextContainer{
		min-width: 100%;
	}
}

/*  */