.slideChildrenContainer--carousel {
	width: 100%;
}

.caretIcon--carousel {
	color: #fff;
}

.caretIcon--carousel:hover {
	opacity: 0.4;
}

.paginationDotsContainer--carousel {
	bottom: 20px;
}

.paginationDot--carousel {
	opacity: 0.4;
}

.paginationDot--carousel--isActive {
	background: #fff;
	opacity: 1;
}
