.flexCol {
	padding-right: 2vw;
}
.flexRowContent--main-header-mobile {
	background: #253241;
}

/* Footer */
.flexRowContent--content-footer {
	max-width: 1200px;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: space-between;
}

/* @media (min-width: 1280px) {
	.flexRowContent--content-footer {
		flex-flow: row wrap;
	}
} */

.flexCol--social-network {
	padding: 25px 0 0 0;
}

.flexColChild--social-network {
	padding-bottom: 5px;
}

.flexColChild--social-network :global(.vtex-login-2-x-container) {
	width: 100%;
	margin-bottom: 20px;
}
<<<<<<< Updated upstream
=======
.flexRowContent--main-header-mobile{
    background: #253241;
}
/* Edit */
.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link { 
  background-color: #253340;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #253340;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) { 
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {/* COR Da LETRA do MENU*/
  color: #67ec88;
  font-size: 14px;
  /*
  background-color: #6cd3e0;  
  border: 10px groove rgb(26, 42, 194);
  padding: 14px 0px;*/
  
  
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--box-0 {
  background-color: #ffffff;  
  padding-top: 2rem;
  padding-left: 2rem;
}

.flexRow--box {
  background-color: #ffffff;  
  padding-top: 2rem;
  padding-left: 2rem;
  /* border: 0px groove rgb(255, 255, 255);*/  

}

.flexRow--box-sun {
  background-color: #f13737;  
  padding-top: 2rem;
  padding-left: 2rem;
  border: 10px groove rgb(35, 192, 35);
}

.flexRow--sun {
  background-color: #f13737;  
  padding-top: 2rem;
  padding-left: 2rem;
  border: 10px groove rgb(35, 192, 35);
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
}

  .flexRowContent--menuItem :global(.vtex-menu-2-x-styledLink) {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px;
  border-radius: 5px;
}


>>>>>>> Stashed changes
