.container{
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
    border-color: #e76d0c #e15500 #e15500;
    background-color: #ec7211;
    background-image: linear-gradient(180deg,#f67c1b 0,#e15500);
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 20%);
    align-items: center;
    height: 3vh;
    padding: 2px 1px;
    
}
.profile{
    color: #ffff;
}