.pr0.flex {
	align-items: center;
}

/* Slider */
.imageElementLink--carouselImage {
	width: 100%;
	display: block;
}

.imageElement--carouselImage {
	width: 100%;
	object-fit: cover;
}

/* Footer */
:global(.vtex-store-footer-2-x-footerLayout--container) {
	background: #242f3e;
}

/* Solutions info cards */
.infoCardTextContainer{
	width: 100%;
	border-top: 5px solid #232f3e;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
    background-color: #fff;
	margin: 25px 0;
	padding: auto;
}
.infoCardTextContainer :global(.vtex-button){
	background: #fff;
	border: none;
	color: #007eb9;
	width: 100%;

}
.infoCardHeadline{
	text-align: left;
}

:global(.vtex-store-components-3-x-infoCardCallActionContainer){
	display: inline-block;     
	position: relative;    
	z-index: 1;     
	width: 100%;
	height: 100%;
}

:global(.vtex-store-components-3-x-infoCardContainer){
	height: 100%;
}

:global(.vtex-store-components-3-x-infoCardTextContainer){
	height: 100%;
}

@media screen and (min-width: 40em){

	.infoCardTextContainer{
		min-width: 100%;
	}
}

/*  */